<div class="wrapper">
    <div class="users-list-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Users</h2>
      </div>
      <div class="mdl-card__menu">
        
      </div>
      <div class="mdl-menu__item--full-bleed-divider"></div>
      <ul class="mdl-list">
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
          
             <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input search" type="text" id="sample1" placeholder="Search a user...">
              </div>
          </span>
        </li>
      </ul>
      <div class="mdl-menu__item--full-bleed-divider"></div>
      <div class="mdl-card__supporting-text">
        <ul class="mdl-list">
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              
              <i class="mdl-list__item-avatar"></i>
              Benjie S. Barozo
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon"></i>
              <i class="mdl-list__item-avatar"></i>
              George Joseph Espejo
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon"></i>
              <i class="mdl-list__item-avatar"></i>
              James Ryan Macalalad
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon"></i>
              <i class="mdl-list__item-avatar"></i>
             Van Ramil Yaras
            </span>
          </li>
        </ul>
        <ul class="mdl-list">
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
             
              <i class="mdl-list__item-avatar"></i>
             Christian Antoni
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon"></i>
              <i class="mdl-list__item-avatar"></i>
             Jovan Deloverjes
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon"></i>
              <i class="mdl-list__item-avatar"></i>
              Erika Mae Castro
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon"></i>
              <i class="mdl-list__item-avatar"></i>
              Nilson Yaras
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon"></i>
              <i class="mdl-list__item-avatar"></i>
              Harold Refugio
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>